# dependencies
node_modules/

# next.js
.next/
out/
build/

# env files
.env*
.env.local
.env.*.local

# logs
*.log
logs

# vercel
.vercel/

# testing
coverage/

# system files
.DS_Store
*.pem

# IDE
.vscode/
.idea/
*.swp
*.swo

# typescript
*.tsbuildinfo
next-env.d.ts